<table class="table table-striped mt-2">
    <tr>
      <th scope="col" style="width: 1%">Description</th>
      <th scope="col" style="width: 1%">Due</th>
      <th scope="col" style="width: 2%">Created</th>
      <th scope="col" style="width: 2%">Cycle</th>
      <th scope="col" style="width: 2%"></th>
    </tr>
  <tbody>
    <ng-container *ngIf="(obs | async) as items; else loading">
      <tr *ngFor="let rem of items">
        <td>{{ rem.descr }}</td>
        <td>{{ rem.dueBy | slice:0:10 }}</td>
        <td>{{ rem.created | date:'yyyy-MM-dd hh:mm'}}</td>
        <td>{{ rem.cycletime | sToString }}</td>
        <td class="text-nowrap">
          <button type="button" class="btn fa fa-edit bg-transparent" (click)="editDialog(rem.id)"></button>
          <button type="button" class="btn fa fa-times bg-transparent p-2" (click)="delete(rem.id)"></button>
        </td>
      </tr>
      <tr *ngIf="items?.length === 0" role="status">
        <td colspan="5" class="text-center">This period is empty</td>
      </tr>
    </ng-container>
  </tbody>
  </table>