<form class="" (ngSubmit)="onSubmit()" #_employeeForm="ngForm">
  <div class="modal-header">
    <h4 class="modal-title d-flex" id="modal-title">Add Employee</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close('cancel click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="employee.name" required #_name="ngModel">
    </div>
    <div [hidden]="_name.valid || _name.pristine" class="alert alert-danger">Name Required</div>
    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="employee.surname" required #_surn="ngModel">
      <div [hidden]="_surn.valid || _surn.pristine" class="alert alert-danger">Surname Required</div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" [disabled]="!_employeeForm.form.valid">Submit</button>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close('cancel click')">Cancel</button>
  </div>
</form>
