<div class="col-lg-12">
  <div>
    <button class="btn btn-outline-primary" (click)="addDialog()">Add Employee</button>
  </div>
  <table class="table table-bordered table-striped mt-2">
    <tr>
      <th scope="col" style="width: 1%">#</th>
      <th scope="col" style="width: 1%">Name</th>
      <th scope="col" style="width: 1%">Surname</th>
      <th scope="col" style="width: 2%">Phone</th>
      <th scope="col" >Address</th>
      <th scope="col" style="width: 2%">Since</th>
      <th scope="col" style="width: 1%"></th>
    </tr>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.surname }}</td>
      <td>{{ employee.phone }}</td>
      <td>{{ employee.address }}</td>
      <td>{{ employee.since }}</td>
      <td class="text-nowrap">
        <button type="button" class="btn fa fa-file-text bg-transparent" (click)="goAccount(employee.account.id)"></button>
        <button type="button" class="btn fa fa-edit bg-transparent" (click)="editDialog(employee)"></button> <!-- TODO: Add edit -->
        <button type="button" class="btn fa fa-times bg-transparent p-2" (click)="delete(employee.id)"></button>
      </td>
    </tr>
  </tbody>
  </table>
</div>
