<table class="table table-striped mt-2 col-md-8">
    <tr class="">
      <th scope="col" style="width: 10%" class="text-nowrap">Description</th>
      <th scope="col" style="width: 2%" class="text-nowrap">Done date</th>
      <th scope="col" style="width: 2%" class="text-nowrap">Due date</th>
      <th scope="col" style="width: 2%" class="text-nowrap">Created</th>
      <th scope="col" style="width: 2%" class="text-nowrap">Cycle time</th>

      <th scope="col" style="width: 2%"></th>
    </tr>
  <tbody>
    <ng-container *ngIf="(obs | async) as items; else loading">
      <tr *ngFor="let rem of items;" id="{{rem.id}}">
        <td class="text-nowrap">{{ rem.descr }}</td>
        <td class="text-nowrap">{{ rem.doneDate | date:'yyyy-MM-dd hh:mm' }}</td>
        <td class="text-nowrap">{{ rem.dueBy | slice:0:10 }}</td>
        <td class="text-nowrap">{{ rem.created | date:'yyyy-MM-dd hh:mm'}}</td>
        <td class="text-nowrap">{{ rem.cycletime | sToString}}</td>
        <td class="text-nowrap">
          <button type="button" title="Clone" class="btn fa fa-clone bg-transparent" (click)="reminderService.clone(rem)"></button>
          <button type="button" title="Undone" class="btn fa fa-arrow-up bg-transparent" (click)="reminderService.undone(rem.id, rem.descr)"></button>
          <button type="button" title="Delete" class="btn fa fa-times bg-transparent" (click)="reminderService.delete(rem.id)"></button>
        </td>
      </tr>
      <tr *ngIf="items?.length === 0" role="status">
        <td colspan="5" class="text-center">This period is empty</td>
      </tr>
    </ng-container>
  </tbody>
  </table>