<table class="table table-striped mt-2">
  <tr class="">
    <th scope="col" style="width: 10%" class="text-nowrap">Name</th>
    <th scope="col" style="width: 1%" class="text-nowrap"></th>
  </tr>
  <tbody>
    <ng-container *ngIf="staff; else loading">
      <tr *ngFor="let item of staff;" id="{{item.id}}">
        <td class="text-nowrap" routerLink="/employee/{{item.id}}">{{ item.name }} {{ item.surname }}</td>
        <td class="text-nowrap">
          <i title="Remove" class="fa fa-times bg-transparent mr-3" 
            [style.color]="!lock ? 'black':'gray'" 
            [style.cursor]="!lock ? 'pointer': 'default'" (click)="remove(item.id)"></i>
        </td>
      </tr>
      <tr *ngIf="staff?.length === 0" role="status">
        <td colspan="5" class="text-center">There are no staff members</td>
      </tr>
    </ng-container>
  </tbody>
</table>